</body>
    <!--Copyright and Contact Section-->
    <section class="light-section" id="copyright">
        <div class="social-media-icons">
            <a href="https://www.facebook.com/AverageLearner"><span class="fa-brands fa-facebook social-icons"></span></a> 
            <a href="https://www.youtube.com/channel/UCz3Iwe-gvsocCCLHqAbEt-g"><span class="fa-brands fa-youtube social-icons youtube"></span></a>
            <a href="https://www.linkedin.com/in/arqskyhero/"><span class="fa-brands fa-linkedin social-icons"></span></a>
            <a href="https://github.com/DeskPaSeat0"><span class="fa-brands fa-github social-icons github" ></span></a>
        </div>
        <div class="copyright-text">
            <span>© Copyright </span>
            <script>document.write(new Date().getFullYear())</script>
            <span>Jeremy Arquiza</span>
        </div>
    </section>
</html>