<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Favicon-->
    <link rel="icon" href="images/WeddingBossLogo.png">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@200;400;500;600;700&display=swap" rel="stylesheet">

    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/dd0ac4d279.js" crossorigin="anonymous"></script>

    <!--Custom CSS-->
    <link rel="stylesheet" href="css/styles.css">
    <title>Wedding Boss</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg" >
        <div class="container-fluid" id="navbar-main">
          <a class="navbar-brand" id="logo" href="/">Wedding Boss</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <% if(loginStatus == false) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
              <% } %>
              <% if(loginStatus == true) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/selectpack">Packages</a>
                </li>
              <% } %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/venue">Venue</a></li>
                  <li><a class="dropdown-item" href="/photography">Photography</a></li>
                  <li><a class="dropdown-item" href="/tailor">Tailor</a></li>
                  <li><a class="dropdown-item" href="/hmua">Hair and Makeup</a></li>
                  <li><a class="dropdown-item" href="/bridalcar">Bridal Car</a></li>
                </ul>
              </li>
              <% if(loginStatus == true) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/account">Account</a>
                </li>
              <% } %>
              <% if(loginStatus == true) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
              <% } %>
              
            </ul>
            <span class="navbar-text">
              Bringing Dream Weddings into Reality.
            </span>
          </div>
        </div>
      </nav>
    
