<%- include("partials/header") %>

<div class="body">

    <!--Heading Section-->
    <section id="home-heading-image" class="home-heading-content">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="home-image" src="images/Home-Image-3.jpg" alt="Simple Wedding-themed Background">
                <div class="carousel-caption d-block d-md-block">
                    <h1 class="h1-home-heading home-intro">Ready for the big day?<br>Let's make it a memorable one!</h1>
                    <p class="home-intro intro-paragraph">We're here to select the Best Venue, appoint the right 
                        Photographers, shop for your Dream Gown, find the Perfect Bridal Car,
                        and hire the Makeup Artist of your dreams! Start your Wedding Planning with us!</p>
                    <div class="attribution">
                        <h6 class="light">Photo by <a href="https://unsplash.com/@kaerieann?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kerri Shaver</a> on <a href="https://unsplash.com/photos/xepikEyPgmI">Unsplash</a></h6>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </section>

    <!--Features Section-->
    <section id="features">
        <div class="body-container-fluid">
            <div class="row">
                <div class="col-lg-4 features-box">
                    <span class="fa-solid fa-circle-check feature-icons"></span>
                    <h2 class="features-text">Easy to Use</h2>
                    <p>All you need to do is to pick and we'll handle the plans.</p>
                </div>
                <div class="col-lg-4 features-box">
                    <span class="fa-solid fa-shop feature-icons"></span>
                    <h2 class="features-text">Everything in One Platform</h2>
                    <p>Venues, Makeup Artists, Photographers - you name it, we've got it</p>
                </div>
                <div class="col-lg-4 features-box">
                    <span class="fa-solid fa-list feature-icons"></span>
                    <h2 class="features-text">Wide Array of Options</h2>
                    <p>Explore all the available wedding services in the Philippines</p>
                </div>
            </div>
        </div>
    </section>

    <!--Services Section-->
    <section id="services-header" class="light-section">
        <div class="container-fluid">
            <h1 class="h1-home-heading home-intro-centered">Explore All the Services Available</h1>
        </div>
        <hr>
    </section>
    <section id="venues-section" class="light-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 text-start my-auto home-text-box">
                    <h2 class="services-section-headers">Venue</h2>
                    <p class="services-section-text">The ideal wedding needs a suitable venue.</p>
                    <button class="btn btn-primary btn-lg col-5 home-learn-btn">Learn More</button>
                </div>
                <div class="col-lg-6">
                    <img class="home-image" src="images/Venue-Home-Image.jpg" alt="Sample Wedding Venue">
                    <div class="attribution2">
                        <h6 class="light">Photo by <a href="https://unsplash.com/@arshadpooloo">Arshad Pooloo</a> on <a href="https://unsplash.com/photos/GdwWrLHdwpw">Unsplash</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="photography-section" class="colored-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <img class="home-image" src="images/Photography-Home-Image.jpg" alt="Sample Wedding Photographer">
                    <div class="attribution2">
                        <h6 class="light">Photo by <a href="https://unsplash.com/@annajimenez">
                            Anna Jiménez Calaf</a> on <a href="https://unsplash.com/photos/0JnbLFcriM4">Unsplash</a></h6>
                    </div>
                </div>
                <div class="col-lg-6 text-end my-auto home-text-box">
                    <h2 class="services-section-headers">Photography</h2>
                    <p class="services-section-text">Each special moment, captured through pristine lenses.</p>
                    <button class="btn btn-primary btn-lg col-5 home-learn-btn">Learn More</button>
                </div>
            </div>
        </div>
    </section>
    <section id="tailor-section" class="light-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 text-start my-auto home-text-box">
                    <h2 class="services-section-headers">Tailor</h2>
                    <p class="services-section-text">Get the best suit and gown for the best day.</p>
                    <button class="btn btn-primary btn-lg col-5 home-learn-btn">Learn More</button>
                </div>
                <div class="col-lg-6">
                    <img class="home-image" src="images/Tailor-Home-Image.jpg" alt="Sample Wedding Tailor">
                    <div class="attribution2">
                        <h6 class="light">Photo by <a href="https://unsplash.com/@annaclare97">
                            Anna Docking</a> on <a href="https://unsplash.com/photos/p7v6X41PP4w">Unsplash</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="hmua-section" class="colored-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <img class="home-image" src="images/HMUA-Home-Image.jpg" alt="Sample Wedding HMUA">
                    <div class="attribution2">
                        <h6 class="light">Photo by <a href="https://unsplash.com/@freestocks">
                            freestocks</a> on <a href="https://unsplash.com/photos/AFvUO61NlOU">Unsplash</a></h6>
                    </div>
                </div>
                <div class="col-lg-6 text-end my-auto home-text-box">
                    <h2 class="services-section-headers">Hair and Makeup</h2>
                    <p class="services-section-text">Life may not be perfect, but your hair and makeup can be.</p>
                    <button class="btn btn-primary btn-lg col-5 home-learn-btn">Learn More</button>
                </div>
            </div>
        </div>
    </section>
    <section id="bridalcar-section" class="light-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 text-start my-auto home-text-box">
                    <h2 class="services-section-headers">Bridal Car</h2>
                    <p class="services-section-text">A special ride for a very special day.</p>
                    <button class="btn btn-primary btn-lg col-5 home-learn-btn">Learn More</button>
                </div>
                <div class="col-lg-6">
                    <img class="home-image" src="https://images.unsplash.com/photo-1595576265230-a37786ded072?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Sample Wedding Bridal Car">
                    <div class="attribution2">
                        <h6 class="light">Photo by <a href="https://unsplash.com/@wedding_dreamz">
                            Wedding Dreamz</a> on <a href="https://unsplash.com/photos/3T_17MM8AYw">Unsplash</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <!--Testimonials Section-->
    <section id="testimonial-section" class="colored-section">
        <div class="container-fluid">
            <h1 class="h1-home-heading home-intro-centered">What Our Clients Say</h1>
            <hr>
            <div class="row justify-content-around testimonial-rows">
                <div class="col-lg-5 testimonial-box">
                    <div class="row adjust-space">
                        <div class="col-lg-3 testimonial-profile-pic">
                            <span class="fa-solid fa-user user-icon"></span>
                        </div>
                        <div class="col-lg-9 testimonial-profile text-start ">
                            <p class="testimonial-name">John Doe</p>
                            <span class="fa-solid fa-location-dot"></span>
                            <span>Makati, Metro Manila</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-start testimonial-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 testimonial-box">
                    <div class="row adjust-space">
                        <div class="col-lg-3 testimonial-profile-pic">
                            <span class="fa-solid fa-user user-icon"></span>
                        </div>
                        <div class="col-lg-9 testimonial-profile text-start">
                            <p class="testimonial-name">Martha Wayne</p>
                            <span class="fa-solid fa-location-dot"></span>
                            <span>Palawan, Puerto Princesa</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-start testimonial-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-lg-5 testimonial-box">
                    <div class="row adjust-space">
                        <div class="col-lg-3 testimonial-profile-pic">
                            <span class="fa-solid fa-user user-icon"></span>
                        </div>
                        <div class="col-lg-9 testimonial-profile text-start">
                            <p class="testimonial-name">Kevin Kevin</p>
                            <span class="fa-solid fa-location-dot"></span>
                            <span>Davao City, Davao del Sur</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-start testimonial-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 testimonial-box">
                    <div class="row adjust-space">
                        <div class="col-lg-3 testimonial-profile-pic">
                            <span class="fa-solid fa-user user-icon"></span>
                        </div>
                        <div class="col-lg-9 testimonial-profile text-start">
                            <p class="testimonial-name">Sandra Cassandra</p>
                            <span class="fa-solid fa-location-dot"></span>
                            <span>San Pedro, Laguna</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-start testimonial-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Call to Action Section-->
    <section id="call-to-action">
        <div class="container-fluid">
            <div>
                <h2 class="cta-heading">We're Here to Help Make Your<br>Dream Wedding Come True</h2>
                <a role="button" class="btn btn-lg col-4 start-button" href="selectpack">Start Now</a>
            </div>
        </div>
    </section>
</div>

<%- include("partials/footer") %>
