<%- include("partials/header") %>

<div class="body">
    <section id="select-package-page" class="special-light-section">
        <div>
            <h1 class="select-package-heading">Select Your Preferred Package</h1>
        </div>
        <div class="row choice-containers justify-content-around">
            <a class="col-lg-5 package-box" href="/selectcustompack">
                <h2 class="select-package-name">Custom Package</h1>
                <span class="select-package-icons fa-solid fa-cart-plus"></span>
            </a>
            <a class="col-lg-5 package-box" href="/selectpremadepack">
                <h2 class="select-package-name">Pre-made Package</h1>
                <span class="select-package-icons fa-solid fa-box-open"></span>
            </a>
        </div>
    </section>
</div>

<%- include("partials/footer") %>